<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FQSystem</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginCheckServlet</display-name>
		<servlet-name>LoginCheckServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.LoginCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserRegisterServlet</display-name>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.ilp.fq.servlets.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddVehicle</display-name>
		<servlet-name>AddVehicle</servlet-name>
		<servlet-class>com.ilp.fq.servlets.AddVehicle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewVehicleServlet</display-name>
		<servlet-name>ViewVehicleServlet</servlet-name>
		<servlet-class>com.ilp.fq.servlets.ViewVehicleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteVehicleServlet</display-name>
		<servlet-name>DeleteVehicleServlet</servlet-name>
		<servlet-class>com.ilp.fq.servlets.DeleteVehicleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateVehicleServlet</display-name>
		<servlet-name>UpdateVehicleServlet</servlet-name>
		<servlet-class>com.ilp.fq.servlets.UpdateVehicleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateVehicleValuesServlet</display-name>
		<servlet-name>UpdateVehicleValuesServlet</servlet-name>
		<servlet-class>com.ilp.fq.servlets.UpdateVehicleValuesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddInsuranceServlet</display-name>
		<servlet-name>AddInsuranceServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.AddInsuranceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewInsuranceServlet</display-name>
		<servlet-name>ViewInsuranceServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.ViewInsuranceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateInsuranceServlet</display-name>
		<servlet-name>UpdateInsuranceServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.UpdateInsuranceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateInsuranceValuesServlet</display-name>
		<servlet-name>UpdateInsuranceValuesServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.UpdateInsuranceValuesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteInsuranceServlet</display-name>
		<servlet-name>DeleteInsuranceServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.DeleteInsuranceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Passwordmanagement</display-name>
		<servlet-name>Passwordmanagement</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.Passwordmanagement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditprofileServlet</display-name>
		<servlet-name>EditprofileServlet</servlet-name>
		<servlet-class>
		com.ilp.fq.servlets.EditprofileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCheckServlet</servlet-name>
		<url-pattern>/LoginCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddVehicle</servlet-name>
		<url-pattern>/AddVehicle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewVehicleServlet</servlet-name>
		<url-pattern>/ViewVehicleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVehicleServlet</servlet-name>
		<url-pattern>/DeleteVehicleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateVehicleServlet</servlet-name>
		<url-pattern>/UpdateVehicleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateVehicleValuesServlet</servlet-name>
		<url-pattern>/UpdateVehicleValuesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddInsuranceServlet</servlet-name>
		<url-pattern>/AddInsuranceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewInsuranceServlet</servlet-name>
		<url-pattern>/ViewInsuranceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateInsuranceServlet</servlet-name>
		<url-pattern>/UpdateInsuranceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateInsuranceValuesServlet</servlet-name>
		<url-pattern>/UpdateInsuranceValuesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteInsuranceServlet</servlet-name>
		<url-pattern>/DeleteInsuranceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Passwordmanagement</servlet-name>
		<url-pattern>/Passwordmanagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditprofileServlet</servlet-name>
		<url-pattern>/EditprofileServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
  <session-timeout>15</session-timeout>
</session-config>
</web-app>
